body {
  margin: 0;
  background-color: #111b21;
  font-family:
    Segoe UI,
    "Helvetica Neue",
    Helvetica,
    "Lucida Grande",
    Arial,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    sans-serif;
  display: flex;
  height: 100vh;
  color: #e9edef;
}

#whatsapp-sidebar {
  width: 30%;
  max-width: 400px;
  background-color: #111b21;
  border-right: 1px solid #222e35;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.chat-card {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #222e35;
}

.chat-card:hover {
  background-color: #202c33;
}

.chat-info {
  margin-left: 15px;
}

/* Target classes for your scraper */
.whatsapp-contact-name {
  font-size: 16px;
  font-weight: 500;
  color: #e9edef;
}

.whatsapp-last-msg {
  font-size: 14px;
  color: #8696a0;
  margin-top: 4px;
}

#whatsapp-main-content {
  flex-grow: 1;
  background-color: #222e35;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #8696a0;
}
